body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.note-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  padding: 20px;
}


form{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin: 40px auto;
  padding: 20px;
}

form, .note-list{
  border: 12px double;
}


button{
  width: 80px;
}

.note {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note h3 {
  margin-top: 0;
}

.note button {
  margin-right: 5px;
}

input[type="color"] {
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}


.image-preview {
  max-width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.image-preview img {
  display: block;
  width: 100%;
  height: auto;
  resize: both; 
  cursor: grab;
}
